:root {
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #F94E30;
  --color-light-orange: #FF6433;
  --color-light-gray: #F2F2F2;
  --color-light: #F4F4F4;
  --color-whitesmoke: #F5F5F5;
  --color-dark: #212529;
  --color-danger: #DC3545;
  --color-gray: #929292;
  --font-family-manrope: 'Manrope', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --transition-ease: all 300ms ease-in-out;
}

.empty-cart {
  min-height: 60vh;
}

.empty-cart .shopping-btn {
  padding: 0.65rem 2.8rem;
  margin-top: 1.6rem;
  border: 1px solid var(--color-orange);
  transition: var(--transition-ease);
  -webkit-transition: var(--transition-ease);
  -moz-transition: var(--transition-ease);
  -ms-transition: var(--transition-ease);
  -o-transition: var(--transition-ease);
}

.empty-cart img {
  margin-bottom: 1rem;
  height: 300px;
}

.cart {
  overflow-x: scroll;
  padding-top: 2rem;
  min-height: 85vh;
}

.cart::-webkit-scrollbar {
  height: 5px;

}

.cart::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cart::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lighten(#FF6433, 5%);
  outline: 1px solid var(--color-light-orange);
}

.cart-ctable {
  min-width: 320px;
}

.cart-ctable .cart-ctr {
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--color-whitesmoke);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cart-ctr .cart-cth {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-chead {
  margin-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  box-shadow: rgba(60, 64, 67, 0.01) 0px 1px 2px 0px, rgba(60, 64, 67, 0.01) 0px 1px 3px 1px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6);
}

.cart-cbody {
  padding-right: 2rem;
  padding-left: 2rem;
  box-shadow: rgba(60, 64, 67, 0.01) 0px 1px 2px 0px, rgba(60, 64, 67, 0.01) 0px 1px 3px 1px;
  border-radius: 3px;
  font-size: 14.5px;
  color: rgba(0, 0, 0, 0.6);
}

.delete-btn {
  font-size: 14px;
  padding: 3px 10px;
  color: white;
  transition: var(--transition-ease);
  background-color: var(--color-danger);
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: var(--transition-ease);
  -moz-transition: var(--transition-ease);
  -ms-transition: var(--transition-ease);
  -o-transition: var(--transition-ease);
}

.qty-change .qty-decrease,
.qty-change .qty-increase {
  font-size: 13px;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.qty-value {
  width: 36px;
  height: 28px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-cfoot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.cart-cfoot .total-txt {
  margin-right: -1rem;
}

.clear-cart-btn {
  border: 1px solid var(--color-danger);
  padding: 0.7rem 1rem;
  transition: var(--transition-ease);
  -webkit-transition: var(--transition-ease);
  -moz-transition: var(--transition-ease);
  -ms-transition: var(--transition-ease);
  -o-transition: var(--transition-ease);
}

.clear-cart-btn:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}


.checkout-btn {
  padding: 0.8rem 2.8rem;
  margin-top: 0.7rem;
}