:root {
  --title-color: #f1f3f7;
  --main-color: #6e7a93;
}

.address,
.charge {
  border-radius: 4px;
  box-shadow: 0 1px 5px #ddd;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.hide {
  display: none;
}

.address .title,
.charge .title {
  background-color: var(--title-color);
  padding: 15px 5px;
}

.address .title p,
.charge .title p {
  font-size: 14px;
}

.address .title p:first-child,
.charge .title p:first-child {
  color: var(--main-color);
}

.address .title p:nth-child(2) {
  cursor: pointer;
}