.home {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  width: 425px;
  margin-top: 15%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}

.ss {
  margin-left: 50%;
  width: 425px;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}

@media (max-width:375px) {

  .home,
  .ss {
    width: 375px;
  }
}

@media (max-width:320px) {

  .home,
  .ss {
    width: 320px;
  }
}

.home img {
  width: 100%;
}

@media (max-width: 1500px) {
  .nav-head {
    left: -14px;
  }
}

@media (max-width: 768px) {
  .nav-head {
    left: -8px;
  }
}

@media (max-width: 425px) {
  .nav-head {
    left: -4px;
  }
}



/* .nav-head {
  position: relative;
} */

.search-menu {
  position: absolute;
  background-color: var(--gray-color);
  width: 90%;
  left: 5%;
  top: 100%;
  max-height: 400px;
  overflow-y: scroll;
  padding: 10px 20px;
  transition: var(--main-transition);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.hide-searchMenu {
  visibility: hidden;
}